/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.installments_variation_rows {
	max-width: 500px;
}

.installments_variation_row {
	display: flex;
	margin-bottom: 10px;
}

.installments_variation_row:last-child {
	margin-bottom: 15px;
}

.installments_variation_amount,
.installments_variation_number {
	margin-right: 15px !important;
}

.installments_variation_row .button i {
	vertical-align: middle;
}

body:not(.acquirer-nexi-checkout) td.wc_payment_gateways_wrapper tr[data-gateway_id="cardlink_payment_gateway_woocommerce_iris"]{
	display: none;
}

.iris-notice-message {
	background: #f0ebb9;
	margin: 10px 0;
	display: inline-block;
	padding: 15px;
	border: 1px solid #c1bb7a;
}